# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# test
/coverage

# Documentaion
/docs

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*

# External api logs
/logger/logs

# node server logs
error.log
info.log
